#leaderboard, #driverComparison {
    max-width: 500px;
}
.position {
    max-width: 35px;
    text-align: center;
}
.driver {
    max-width: 40px;
}
.team {
    max-width: 70px;
}
.time {
    max-width: 40px;
}
.status {
    max-width: 35px;
    text-align: center;
}
.statusUp {
}

#driverComparison th.raceName {
    text-align: center;
}
#driverComparison .raceName {
    max-width: 160px;
}
#comparisonBody .difference {
    text-align: center;
}
.difference {
    max-width: 80px;
}
.driver1, .driver2 {
    max-width: 70px;
}